@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Medium.ttf') format('truetype');
    font-weight: medium;
    font-style: normal;
}
body {
     font-family: 'Roboto', sans-serif;
     font-weight: normal;
 }
#top-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0px 5px 0px;
}

#logo-img {
    width: 200px;
    height: 70px;
    padding: 5px 0px 10px 0px;
}
.navbar {
    padding: 10px 5px 10px 5px;
}

.nav-list {
    display: flex;
    list-style: none;
    padding: 5px;
    margin: 5px;
    border-top: 2px solid #030000;
    border-bottom: 2px solid #030000;
    justify-content: center;
}

.nav-list li{
    padding: 0px 20px 0px 20px;
}

.nav-list li:first-child {
    border-left: none;
}

.nav-list li:last-child {
    border-right: none;
}

.nav-list li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.nav-list li a:hover {
    color: #f09a1a;
}